body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
}

.container {
  margin: 0 auto;
  background: linear-gradient(to right, #0066ff 0%, #ff3399 100%);
}

h1 {
  text-align: center;
  
}

form {
  text-align: center;
  margin-bottom: 50px;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
}

.weather-info {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background: linear-gradient(to right, #3399ff60 0%, #00000070 100%)
}

.weather-info .box {
  width: calc(100% - 70%);
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  background:linear-gradient(to bottom, #99ccff9d 0%, #ffffffcb 100%);
}

.weather-info .location {
  font-size: 24px;
  font-weight: bold;
}

.weather-info .temperature {
  font-size: 50px;
}

.weather-info .description {
  font-size: 20px;
}

.weather-info .icon {
  margin-top: 10px;
}

.weather-info .icon img {
  width: 100px;
}
